@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 12px;
  border-radius: 99px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: #1B1B3E;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  border-radius: 99px;
}
html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  -webkit-transition: 1s;
  transition: 1s;
  transform: scale(1.6);
}
html::-webkit-scrollbar-button, body::-webkit-scrollbar-button {
  display: none;
}
html button, body button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIndown {
  0% {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes titleTrans {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }
}
@keyframes bottomMenu {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: left center;
  }
}
@keyframes rotate-axis {
  from {
    transform: perspective(600px) rotateY(0deg);
  }
  to {
    transform: perspective(600px) rotateY(360deg);
  }
}
@media screen and (max-width: 600px) {
  .moving_star {
    left: 44.5% !important;
    top: 42.5% !important;
    width: 40px !important;
    height: 40px !important;
  }
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.contained_button {
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.contained_button img {
  margin-right: 0.5rem;
}
.contained_button.blue {
  background: #253D87;
  color: #FFFFFF;
}
.contained_button.blue a {
  color: #FFFFFF;
}
.contained_button.blue:hover {
  background: #1e3375;
}
.contained_button.primary {
  background: #E1AC3F;
  color: #FFFFFF;
}
.contained_button.primary a {
  color: #FFFFFF;
}
.contained_button.primary:hover {
  background: #daa63b;
}
.contained_button.yellow {
  background: #FECD04;
  color: #1A1A1A;
  font-weight: 600;
}
.contained_button.yellow a {
  color: #1A1A1A;
}
.contained_button.yellow:hover {
  background: #edc10d;
}
.contained_button.white {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.contained_button:disabled {
  opacity: 26%;
}

.outlined_button {
  background: none;
  border: 2px solid;
  border-radius: 8px;
  font-size: 1rem;
  padding: 13px 1rem;
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.outlined_button img {
  margin-right: 0.5rem;
}
.outlined_button.primary {
  border-color: #E1AC3F;
  color: #E1AC3F;
}
.outlined_button.white {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.outlined_button.pink {
  border-color: #F2ACAC;
  color: #F2ACAC;
}
.outlined_button:hover {
  background: #202047;
}
.outlined_button:disabled {
  opacity: 26%;
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  background: linear-gradient(rgb(52, 50, 97), rgb(15, 15, 43));
  font-family: "Pretendard-Regular", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.wrap {
  max-width: 600px;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}
.wrap header {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba(51, 49, 96, 0.15);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.wrap header h1 {
  font-size: 1.5rem;
  color: #212121;
  animation: titleTrans 0.3s ease-in-out;
}
.wrap header .top_btn {
  display: flex;
  align-items: center;
  grid-gap: 0.75rem;
}
.wrap header .top_btn .select_lang_area {
  display: block;
  flex-direction: column;
}
.wrap header .top_btn .gnb_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 2.5rem;
}
.wrap header .top_btn .gnb_button:hover {
  background: #474570;
}
.wrap header .top_btn .gnb_button.active {
  background: #474570;
}
.wrap header .top_btn .select_lang {
  background: #FFFFFF;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  right: 0;
}
.wrap header .top_btn .select_lang .lang_li {
  cursor: pointer;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.wrap header .top_btn .select_lang .lang_li a {
  color: #1A1A1A;
}
.wrap header .top_btn .select_lang .lang_li:hover {
  background: #E5E5E5;
}
.wrap header .top_btn .select_lang .lang_li.active {
  background: #E5E5E5;
}
.wrap .container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.wrap .container .main_divider {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.wrap .container .main_divider .divider_line {
  width: 48%;
  border: 2px solid #E1AC3F;
  height: 2px;
  align-items: center;
}
.wrap .container .main_divider img {
  margin: 0 0.5rem;
}
.wrap .container .main_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  text-align: center;
}
.wrap .container .main_text .sub_title {
  font-size: 1rem;
  color: #CCCCCC;
  font-weight: 100;
  margin-bottom: 0.75rem;
  line-height: 1.4;
}
.wrap .container .main_text .sub_title strong {
  color: #808080;
}
.wrap .container .main_text .title {
  font-family: GmarketSansMedium;
  color: #E1AC3F;
}
.wrap .container .img_area {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
  text-align: center;
  perspective: 1000px;
}
.wrap .container .img_area .moving_star {
  position: absolute;
  left: 44.5%;
  top: 42%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  animation: rotate-axis 3.4s cubic-bezier(0.79, 0.08, 0.37, 1.03) infinite;
  transform-style: preserve-3d;
}
.wrap .container .img_area img {
  -o-object-fit: contain;
     object-fit: contain;
}
.wrap .container .img_area .main_bg_img {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.wrap .container .cta_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}
.wrap .container .cta_area .sub_text {
  font-size: 1rem;
  font-weight: 300;
  color: #CCCCCC;
  margin-bottom: 1rem;
  text-align: center;
}
.wrap .container .button_area {
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.wrap .container .button_area .card_area {
  width: 100%;
  padding: 0 0 1rem 0;
  display: flex;
}
.wrap .container .button_area .card_area li:first-child {
  margin-right: 1rem;
}
.wrap .container .choosing_card_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.wrap .container .choosing_card_area .mixing_card_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}
.wrap .container .choosing_card_area .mixing_card_area .description {
  width: 100%;
  height: 100%;
  background: #303061;
  border-radius: 999px;
  padding: 1rem;
  color: #CCCCCC;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  justify-content: center;
}
.wrap .container .choosing_card_area .mixing_card_area .description span {
  line-height: 1.2;
}
.wrap .container .choosing_card_area .tarot_cards_area {
  width: 100%;
  perspective: 1000px;
  padding: 1.5rem 1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
}
.wrap .container .choosing_card_area .tarot_cards_area::-webkit-scrollbar {
  height: 5px;
  border-radius: 99px;
}
.wrap .container .choosing_card_area .tarot_cards_area::-webkit-scrollbar-track {
  background-color: #1b1b3e;
  border-radius: 99px;
}
.wrap .container .choosing_card_area .tarot_cards_area::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 99px;
}
.wrap .container .choosing_card_area .tarot_cards_area::-webkit-scrollbar-thumb:hover {
  -webkit-transition: 1s;
  transition: 1s;
  transform: scale(1.2);
}
.wrap .container .choosing_card_area .tarot_cards_area::-webkit-scrollbar-button {
  display: none;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card {
  width: 80px;
  height: 134px;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0 -22px;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card:first-child {
  margin: 0 -22px 0 -22px;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card .front {
  display: none;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card.y .back {
  margin-top: -18px;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #1A1A1A;
  border-radius: 0.5rem;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card .back .contents {
  border: 1px solid #E1AC3F;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.wrap .container .choosing_card_area .tarot_cards_area .tarot_card .back .contents img {
  width: 42px;
  height: 73px;
}
.wrap .container .choosing_card_area .card_wrap .loader {
  display: flex;
  height: 190px;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: absolute;
  width: 100%;
  vertical-align: middle;
}
.wrap .container .select_card_area {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.wrap .container .select_card_area .card_container {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.wrap .container .select_card_area .card_container::-webkit-scrollbar {
  height: 5px;
  border-radius: 99px;
}
.wrap .container .select_card_area .card_container::-webkit-scrollbar-track {
  background-color: #1b1b3e;
  border-radius: 99px;
}
.wrap .container .select_card_area .card_container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 99px;
}
.wrap .container .select_card_area .card_container::-webkit-scrollbar-thumb:hover {
  -webkit-transition: 1s;
  transition: 1s;
  transform: scale(1.2);
}
.wrap .container .select_card_area .card_container::-webkit-scrollbar-button {
  display: none;
}
.wrap .container .select_card_area .card_container .select_card {
  width: 81px;
  height: 141px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.875rem;
  background: linear-gradient(rgb(52, 50, 97), rgb(15, 15, 43));
}
.wrap .container .select_card_area .card_container .select_card:last-child {
  margin-right: 0;
}
.wrap .container .select_card_area .card_container .select_card.active {
  border: 2px solid #E1AC3F;
}
.wrap .container .select_card_area .card_container .select_card.selected img {
  width: 121px;
  height: 192px;
}
.wrap .container .select_card_area .card_container .select_card span {
  color: #E1AC3F;
  font-size: 1rem;
}
.wrap .container .select_card_area .card_container .select_card img {
  width: 100%;
  height: auto;
}
.wrap .container .select_card_area .card_container .select_card .card_order {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.wrap .container .result_area {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrap .container .result_area .result_card {
  width: 142px;
  height: 225px;
  border: 1px solid #E1AC3F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.wrap .container .result_area .result_card img {
  width: 130px;
}
.wrap .container .result_area .text_area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.wrap .container .result_area .text_area .sub_text {
  color: #FECD04;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.wrap .container .result_area .text_area .score_text_area {
  display: flex;
  align-items: end;
  color: #FECD04;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
.wrap .container .result_area .text_area .score_text_area .title {
  margin-right: 0.25rem;
}
.wrap .container .result_area .text_area .score_text_area span {
  font-size: 1.125rem;
}
.wrap .container .result_area .text_area .description {
  font-size: 0.875rem;
  color: #CCCCCC;
  text-align: center;
  line-height: 1.4;
  font-weight: 300;
}
.wrap .container .result_area .text_area .text_group {
  text-align: center;
  margin-top: 1rem;
}
.wrap .container .result_area .text_area .subtitle {
  font-size: 0.875rem;
  font-weight: 800;
  color: #E1AC3F;
  margin-bottom: 0.5rem;
}
.wrap .container .result_button_area {
  display: flex;
  width: 100%;
  padding: 0 1.5rem;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.wrap .container .result_button_area .two_button_area {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
.wrap .container .result_button_area .two_button_area a:first-child {
  margin-right: 1rem;
}/*# sourceMappingURL=index.css.map */