@charset "utf-8";

@import "reset.scss";

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIndown {
  0% {
    clip-path: polygon(00% 00%, 100% 0%, 100% 100%, 0% 100%);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes titleTrans {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: center center;
  }
}

@keyframes bottomMenu {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center center;
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: left center;
  }
}

@keyframes rotate-axis {
  from {
      transform: perspective(600px) rotateY(0deg);
  }
  to {
      transform: perspective(600px) rotateY(360deg);
  }
}

@media screen and (max-width: 600px) {
  .moving_star {
    left: 44.5% !important;
    top: 42.5% !important;
    width: 40px !important;
    height: 40px !important;
  }
}

h1 {
  font-size: $px32;
  font-weight: bold;
}

.contained_button {
  border: none;
  border-radius: 8px;
  font-size: $px14;
  padding: $px14 $px24;
  height: 40px;
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 1;

  img {
    margin-right: $px8;
  }

  &.blue {
    background: $trueBlue;
    color: $white;

    a {
      color: $white;
    }

    &:hover:not(:disabled) {
      background: #1e3375;
    }
  }

  &.primary {
    background: $primary;
    color: $grey_110;
    font-weight: 800;
    height: 48px;

    a {
      color: $grey_110;
    }

    .disabled {
      opacity: 36%;
    }

    &:hover {
      background: #daa63b;
    }
  }

  &.yellow {
    background: $trueYellow;
    color: $grey_90;
    font-weight: 600;

    a {
      color: $grey_90;
    }

    &:hover {
      background: #edc10d;
    }
  }

  &.white {
    border-color: $white;
    color: $white;
  }

  &:disabled {
    opacity: 50%;
    cursor: default;
  }
}

.contained_button_primary {
  border: none;
  border-radius: 8px;
  font-size: $px16;
  padding: $px14 $px24;
  height: 48px;
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 1;
  font-weight: 800;
  color: $grey_110;
  background-color: $primary;

  img {
    margin-right: $px8;
  }

  a {
    color: $grey_110;
  }

  &:hover {
    background: #daa63b;
  }

  &.disabled {
    opacity: 26%;
    z-index: 1000;
  }
}

.outlined_button {
  background: none;
  border: 2px solid;
  border-radius: 8px;
  font-size: $px14;
  padding: 13px $px16;
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 1;
  height: 40px;

  img {
    margin-right: $px8;
  }

  &.primary {
    border-color: $primary;
    color: $primary;
  }

  &.white {
    border-color: $white;
    color: $white;
  }

  &.pink {
    border-color: $truePink;
    color: $truePink;
  }

  &:hover {
    background: #202047;
  }

  &:disabled {
    opacity: 26%;
  }
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  background: linear-gradient(rgba(52, 50, 97, 1), rgba(15, 15, 43, 1));
  font-family: "Pretendard-Regular", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0px;
  padding: 0px;
  /*text-transform: uppercase;*/
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}

.wrap {
  max-width: 600px;
  flex-direction: column;
  // overflow: auto;
  position: relative;
  margin: 0 auto;

  .bottom_cta_area {
    width: 100%;
    max-width: 600px;
    position: fixed;
    bottom: 0;

    button {
      border-radius: 0;
    }

    .icon_arrow {
      position: absolute;
      right: $px16;
      top: 13px;
    }
  }

  header {
    padding: $px8 $px24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(51, 49, 96, 0.15);
    backdrop-filter: blur(4.5px);

    h1 {
      font-size: $px24;
      color: $grey_110;
      animation: titleTrans 0.3s ease-in-out;
    }

    .top_btn {
      display: flex;
      align-items: center;
      grid-gap: $px12;

      .select_lang_area {
        display: block;
        flex-direction: column;
      }

      .gnb_button {
        cursor: pointer;
        display: none;
        justify-content: center;
        align-items: center;
        padding: $px8;
        border-radius: $px40;

        &:hover {
          background: $purple_400;
        }

        &.active {
          background: $purple_400;
        }
      }

      .select_lang {
        background: $white;
        border-radius: $px8;
        display: flex;
        flex-direction: column;
        display: none;
        position: absolute;
        right: 0;

        .lang_li {
          cursor: pointer;
          display: flex;
          padding: $px8 $px16;
          border-radius: $px8;

          a {
            color: $grey_90;
          }

          &:hover {
            background: $grey_10;
          }

          &.active {
            background: $grey_10;
          }
        }
      }
    }
  }

  .container {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    .main_divider {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: $px16;

      .divider_line {
        width: 48%;
        border: 2px solid $primary;
        height: 2px;
        align-items: center;
      }

      img {
        margin: 0 $px8;
      }
    }

    .main_text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $px16;
      padding: 0 $px24;
      text-align: center;

      .sub_title {
        font-size: $px16;
        color: $grey_20;
        font-weight: 100;
        margin-bottom: $px8;
        line-height: 1.4;

        strong {
          color: $grey_50;
        }
      }

      .title {
        font-family: GmarketSansMedium;
        color: $primary;
      }
    }

    .img_area {
      width: 100%;
      margin-bottom: $px16;
      position: relative;
      text-align: center;
      perspective: 1000px;

      .moving_star {
        position: absolute;
        left: 44.5%;
        top: 42%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        animation: rotate-axis 3.4s cubic-bezier(0.79, 0.08, 0.37, 1.03) infinite;
        transform-style: preserve-3d;
      }

      img {
        object-fit: contain;
      }

      .main_bg_img {
        width: 80%;
        position: relative;
        margin: 0 auto;
      }
    }

    .cta_area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 $px24;

      .sub_text {
        font-size: $px16;
        font-weight: 300;
        color: $grey_20;
        margin-bottom: $px16;
        text-align: center;
      }
    }

    .button_area {
      padding: 0 $px24 $px24 $px24;

      .card_area {
        width: 100%;
        padding: 0 0 $px16 0;
        display: flex;

        li {
          &:first-child {
            margin-right: $px16;
          }
        }
      }
    }

    .choosing_card_area {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;

      .mixing_card_area {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 $px10;
        margin-bottom: $px24;
        justify-content: center;
        align-items: center;
        gap: 0 15px;

        .description {
          width: 100%;
          height: 100%;
          background: #303061;
          border-radius: 999px;
          padding: $px16;
          color: $grey_20;
          display: flex;
          align-items: center;
          text-align: center;
          margin-left: $px16;
          justify-content: center;

          span {
            line-height: 1.2;
          }
        }
      }

      .tarot_cards_area {
        width: 100%;
        perspective: 1000px;
        padding: $px24 $px24;
        overflow-x: scroll;
        white-space: nowrap;
        // text-align: center;

        &::-webkit-scrollbar {
          height: 5px;
          border-radius: 99px;
        }

        &::-webkit-scrollbar-track {
          background-color: #1b1b3e;
          border-radius: 99px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #cccccc;
          border-radius: 99px;

          &:hover {
            transition: 1s;
            transform: scale(1.2);
          }
        }

        &::-webkit-scrollbar-button {
          display: none;
        }

        .tarot_card {
          width: 80px;
          height: 134px;
          display: inline-block;
          position: relative;
          user-select: none;
          // transform-style: preserve-3d;
          // transition: 1s;
          // transform: rotateY('0deg');
          // cursor: pointer;
          margin: 0 -22px;

          &:first-child {
            margin: 0 -22px 0 -22px;
          }

          // &:hover {
          //   transform: rotateY(180deg);
          //   transition: 1.2s;
          //   z-index: 1;

          //   .front {
          //     display: flex;
          //     z-index: 1;
          //   }

          //   .back {
          //     display: none;
          //   }
          // }

          .front {
            //   position: absolute;
            display: none;
            //   justify-content: center;
            //   align-items: center;
            //   border-radius: $px8;

            //   img {
            //     width: 121px;
            //     height: 192px;
            //   }
          }

          &.y {
            .back {
              margin-top: -18px;
            }
          }

          .back {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background: $grey_90;
            border-radius: $px8;

            .contents {
              border: 1px solid $primary;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: $px8;

              img {
                width: 42px;
                height: 73px;
              }
            }
          }
        }
      }
      .card_wrap {
        .loader {
          display: flex;
          height: 190px;
          justify-content: space-around;
          align-items: center;
          z-index: 100;
          position: absolute;
          width: 100%;
          vertical-align: middle;
        }
      }
    }

    .select_card_area {

      margin: 0 10px;
      padding-bottom: 60px;

      .card_bg {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .card_container {
        padding: 1rem 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;

        &::-webkit-scrollbar {
          height: 5px;
          border-radius: 99px;
        }

        &::-webkit-scrollbar-track {
          background-color: #1b1b3e;
          border-radius: 99px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #cccccc;
          border-radius: 99px;

          &:hover {
            transition: 1s;
            transform: scale(1.2);
          }
        }

        &::-webkit-scrollbar-button {
          display: none;
        }

        .select_card {
          width: 81px;
          height: 137px;
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: $px14;
          background: linear-gradient(rgba(52, 50, 97, 1), rgba(15, 15, 43, 1));

          &:last-child {
            margin-right: 0;
          }

          &.active {
            border: 2px solid $primary;
          }

          &.selected {
            img {
              width: 121px;
              height: 192px;
            }
          }

          span {
            color: $primary;
            font-size: $px13;
          }
          
          img {
            width: 100%;
            height: auto;
          }
          
          .card_order {
            font-weight: bold;
            margin-bottom: $px2;
          }
        }
      }
    }

    // result page
    .result_area {
      width: 100%;
      padding: 0 $px24;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .result_card {
        width: 142px;
        height: 225px;
        border: 1px solid $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $px8;

        img {
          width: 130px;
        }
      }

      .text_area {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: $px24;
        margin-bottom: $px24;

        .sub_text {
          color: $trueYellow;
          font-size: $px16;
          font-weight: 600;
          margin-bottom: $px12;
        }

        .score_text_area {
          display: flex;
          align-items: end;
          color: $trueYellow;
          font-weight: bold;
          margin-bottom: $px12;

          .title {
            margin-right: $px4;
          }

          span {
            font-size: $px18;
          }
        }

        .description {
          font-size: $px14;
          color: $grey_20;
          text-align: center;
          line-height: 1.4;
          font-weight: 300;
        }

        .text_group {
          text-align: center;
          margin-top: $px16;
        }

        .subtitle {
          font-size: $px14;
          font-weight: 800;
          color: $primary;
          margin-bottom: $px8;
        }
      }
    }

    .result_button_area {
      display: flex;
      width: 100%;
      padding: 0 $px24;
      flex-direction: column;
      margin-bottom: $px40;

      .two_button_area {
        display: flex;
        width: 100%;
        margin-bottom: $px16;

        a:first-child {
          margin-right: $px16;
        }
      }
    }
  }
}
